{% extends 'base.html.twig' %}

{% block body %}

    <div class="starter-template">
        <h1 class="display-1">Petshop</h1>
        <p class="lead">Avançando com Symfony 4 - Doctrine</p>
    </div></div>

{% endblock %}
